.resetPasswordPage {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  background: white;
  flex: 1;
  padding: 0;
}

.resetPasswordContainer {
  background: white;
    padding: 20px;
    border-radius: 12px;
    width: 100%;
    max-width: 440px;
    flex: 1;
}

.resetPasswordForm {
  display: flex;
  flex-direction: column;
  /* gap: 1.5rem; */
}

.formActions {
  margin: 160px 0 0 0;
  text-align: center;
}

.hintText {
  list-style: none;
  padding: 0 0 0 1px;
  margin: 0;
}

.hintList {
  list-style: none;
  padding: 0 0 0 1px;
  margin: 0;
}

.hintList li {
  font-family: "Inter", sans-serif;
  font-style: normal;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.2;
  margin-bottom: 3px;
  padding-left: 14px;
  position: relative;
  color: #6B7280;
  margin-left: -3px;
}

.hintList li::before {
  content: "※";
  color: #6B7280;
  font-weight: bold;
  position: absolute;
  left: 2px;
  top: 2px;
  font-size: 12px;
}

.requiredTip {
  font-family: Inter;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  color: red;
  margin: 0 0 10px 0;
}

.marginBottom10px {
    margin-bottom: 10px;
}